<h1>Tool Library</h1>

<% if @admin %>
  <%= link_to "Add Tool", new_tool_path, class: "btn btn-success" %>
<% end %>

<table class="table tools">
  <% @tools.each do |tool| %>
    <tr>
      <td><%= image_tag tool.image_url, class: "tool-img" %></td>
      <td><%= tool.name %></td>
      <td><%= button_to "Borrow", "#", class: "btn btn-info" %></td>
    </tr>
  <% end %>
</table>
