<h1>Events</h1>

<% if @user %>
  <%= link_to "Add Event", new_event_path %>
<% end %>

<% @events.each do |event| %>
  <p><%= event.date %></p>
<% end %>


<div class="month">
  <div class="day-name">
    Sunday
  </div>
  <div class="day-name">
    Monday
  </div>
  <div class="day-name">
    Tuesday
  </div>
  <div class="day-name">
    Wednesday
  </div>
  <div class="day-name">
    Thursday
  </div>
  <div class="day-name">
    Friday
  </div>
  <div class="day-name">
    Saturday
  </div>

  <% Event.start_month.day.times do %>
    <div class="day"></div>
  <% end %>

  <% counter = 1 %>
  <% Event.number_of_days.times do %>
    <div class="day">
      <%= counter %>
    </div>
    <% counter += 1 %>
  <% end %>
</div>
