<h1>Events</h1>

<% if @user %>
  <%= link_to "Add Event", new_event_path %>
<% end %>

<% @events.each do |event| %>
  <p><%= event.date %></p>
<% end %>


<div class="month">
  <div class="day-name">Sunday</div>
  <div class="day-name">Monday</div>
  <div class="day-name">Tuesday</div>
  <div class="day-name">Wednesday</div>
  <div class="day-name">Thursday</div>
  <div class="day-name">Friday</div>
  <div class="day-name">Saturday</div>

  <%= generate_offset_days %>
  <%= generate_month_days(@events) %>
</div>
