<div class="post-wrapper">
  <article>
    <h2><%= @post.title %></h2>
    <h3><%= @post.user.user_name %></h3>
    <h4><%= @post.pretty_updated_at %></h4>
    <p><%= @post.content %></p>
  </article>
</div>
