body {
  padding-top: 70px;
}

nav.navbar.navbar-inverse.navbar-fixed-top {
  // background-color: green;
}

nav.navbar .btn {
  margin-top: 8px;
}

.home-img {
  width: 100%;
}

.weather-container {
  margin-bottom: 1.5em;
}

.current-weather,
.forecast-weather{
  padding: 4em 0;
}

.current-weather {
  background-color: lightgrey;
}

.forecast-weather{
  background-color: whitesmoke;
}

.tool-img {
  width: 50%;
}

table.tools {
  margin-top: 1.5%;
}

table.tools tr td {
  vertical-align: middle;
}

table.tools tr td:first-child {
  width: 25%;
}

span.red {
  color: red;
}

span.green {
  color: rgb(23, 173, 23);
}

.month {
  width: 755px;
  margin: 0 auto;
}

.day {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 1px;
  float:left;
  background-color: lightgrey;
  text-align: left;
}

.day span {
  padding-left: 5px;
  font-weight: bold;
}

.offset-day {
  background-color: white;
}

.day-name {
  display: inline-block;
  width: 100px;
  margin: 1px;
  float: left;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  nav.navbar .btn {
    margin: 10px 15px;
  }
}
