body {
  padding-top: 50px;
}

nav.navbar.navbar-inverse.navbar-fixed-top {
  background-color: palegoldenrod;
  border-color: palegoldenrod;
}

nav .logo {
  width: 30px;
  margin-top: -5px;
}

.navbar-inverse .navbar-toggle {
  border-color: palegoldenrod;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: white;
}

nav.navbar .btn {
  margin-top: 8px;
}

.main {
  padding-bottom: 5px;
}

.home-img {
  width: 100%;
}

.current-weather,
.forecast-weather{
  padding: 4em 0;
}

.current-weather {
  background-color: lightgrey;
}

.forecast-weather{
  background-color: whitesmoke;
}

.tool-img {
  width: 50%;
}

table.tools {
  margin-top: 1.5%;
}

table.tools tr td {
  vertical-align: middle;
}

table.tools tr td:first-child {
  width: 25%;
}

span.red {
  color: red;
}

span.green {
  color: rgb(23, 173, 23);
}

.month {
  width: 755px;
  margin: 0 auto;
}

.day {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 1px;
  float:left;
  background-color: lightgrey;
  text-align: left;
  padding: 5px;
}

.day:hover {
  background-color: rgb(215, 209, 154);
}

.day span {
  font-weight: bold;
  padding-left: 2px;
}

.offset-day, .offset-day:hover {
  background-color: white;
}

.day-name {
  display: inline-block;
  width: 100px;
  margin: 1px;
  float: left;
  font-weight: bold;
}

.modal-backdrop.fade.in {
  z-index: -100;
}

.modal strong {
  width: 100px;
  float: left;
}

.modal .modal-body {
  width: 75%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  nav.navbar .btn {
    margin: 10px 15px;
  }

  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    border-color: palegoldenrod;
    background-color: rgb(215, 209, 154);
    text-align: center;
  }

  .forecast-weather {
    height: 350px;
  }
}
